project:
  type: website
  output-dir: docs

website:
  title: "Acropora Monitoring Program"
  navbar:
    left:
      - text: "About"
        href: about.qmd
      - text: "Metrics"
        href: metrics.qmd
      - text: "Distributions"
        href: distributions.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



